params {
  project_folder   = "$PWD"
  bwa_output   = "/ictstr01/groups/idc/projects/uhlenhaut/jiang/pipelines/nf-bwa/bwa_output"
  picard_output    = "picard_output"
  container_picard = "/ictstr01/groups/idc/projects/uhlenhaut/jiang/singularity_image/picard-2.27.4.sif"

  cpus   = 4
  memory = "16GB"
  time   = "8h"
}

profiles {
  local { includeConfig 'configs/local.config' }
  hpc   { includeConfig 'configs/slurm.config' }
}
